snippet build "Bare bones build.gradle file" b
plugins {
  id 'java'
}

repositories {
  mavenCentral()
}

jar {
  manifest {
    attributes 'Main-Class': '${1:package}'
  }
}

dependencies {
  testImplementation 'junit:junit:4.13.2'
}
endsnippet
