snippet dllength "Markdown lint disable line length" b
<!-- markdownlint-disable line-length -->
endsnippet

snippet ellength "Markdown lint re-enable line length" b
<!-- markdownlint-enable line-length -->
endsnippet

snippet dhtml "Disable lint warnings for inline html" b
<!-- markdownlint-disable no-inline-html -->
endsnippet

snippet collapse "Collapsible section of markdown using inline html" b
<details>
<summary>Click to reveal</summary>

</details>
endsnippet
