snippet dllength "Markdown lint disable line length" b
<!-- markdownlint-disable line-length -->
endsnippet

snippet ellength "Markdown lint re-enable line length" b
<!-- markdownlint-enable line-length -->
endsnippet
