[Unit]
Description=Consul server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/consul agent \
-server \
-data-dir=/tmp/consul \
-client=0.0.0.0 \
-datacenter=vagrant \
-ui \
-bootstrap-expect=2 \
-bind={{LISTEN_ADDR}} \
-retry-join={{JOIN_ADDR}}
Restart=on-failure

[Install]
WantedBy=multi-user.target
